/* Colours */

$black: #000;
$grey90: #3e4345;
$grey60: #919699;
$grey40: #c6cacc;
$white: #fff;

$moon: #EBE5E0;

$error-color: #f00;

$fire-engine: #F7402D;
$taffy: #FF5FB8;
$yellow: #FFF741;
$lime: #D9FF89;
$tangerine: #FF7D54;
$berry: #F08FC2;
$royalblue: #1A5DF4;
$treegreen: #94DC42;

$primary-color: $moon;
$secondary-color: $fire-engine;
$tertiary-color: $taffy;

/* Typography */


/* Breakpoint Size */
$sm: 40em;
$md: 52em;
$lg: 64em;

$hover-transition: all 100ms linear;


